@using Bookish.DataAccess
@model Bookish.Web.Models.CatalogueViewModel

@{
    ViewData["Title"] = "Catalogue";
}

<h1 class="display-4">Catalogue</h1>

<partial name="_SearchForm" model="@Model"/>

@if (!Model.Books.Any())
{
    <p class="top-padded">No books were found.</p>
}
else
{
    <table class="table top-padded">
        <thead>
            <tr>
                <th width="30%">Title</th>
                <th width="25%">Authors</th>
                <th width="15%">ISBN</th>
                <th width="10%">Available Copies</th>
                <th width="10%">Total Copies</th>
                <th width="10%">More details</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var book in Model.Books)
            {
                <tr>
                    <td> @book.Title </td>
                    <td> @book.Authors </td>
                    <td> @book.Isbn </td>
                    <td> @book.AvailableCopies </td>
                    <td> @book.TotalCopies </td>
                    <td> <a asp-action="BookDetails" asp-route-isbn=@book.Isbn> More details </a> </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
}

@if (Model.PageCount > 1)
{
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-end">
            <li class="page-item @Model.PreviousButtonStatus">
                <a class="page-link"
                   asp-route-searchTerm="@Model.SearchTerm"
                   asp-route-pageNumber="@(Model.PageNumber - 1)">
                    Previous
                </a>
            </li>

            @for (var linkNumber = 1; linkNumber <= Model.PageCount; linkNumber++)
            {
                <li class="page-item @Model.LinkNumberStatus(linkNumber)">
                    <a class="page-link"
                       asp-route-searchTerm="@Model.SearchTerm"
                       asp-route-pageNumber="@linkNumber">
                        @linkNumber
                    </a>
                </li>
            }

            <li class="page-item @Model.NextButtonStatus">
                <a class="page-link"
                   asp-route-searchTerm="@Model.SearchTerm"
                   asp-route-pageNumber="@(Model.PageNumber + 1)">
                    Next
                </a>
            </li>
        </ul>
    </nav>
}
