@model LoansViewModel
@{
    ViewData["Title"] = "My Loans";
}

<h1 class="display-4">My Loans</h1>

@if (!Model.LoanedBooks.Any())
{
    <p>You have no books on loan.</p>
}
else
{
    <table class="table top-padded">
        <tr>
            <th class="col-xs-1">Due Date</th>
            <th class="col-xs-4">Title</th>
            <th class="col-xs-4">Authors</th>
            <th class="col-xs-1">ISBN</th>
            <th class="col-xs-1">Copy ID</th>
            <th class="col-xs-1">More details</th>
        </tr>

        @foreach (var loan in Model.LoanedBooks)
        {
            <tr>
                <td> @loan.DueDate?.ToShortDateString() </td>
                <td> @loan.Title </td>
                <td> @loan.Authors </td>
                <td> @loan.Isbn </td>
                <td> @loan.CopyId </td>
                <td> <a asp-action="BookDetails" asp-route-isbn=@loan.Isbn> More details </a> </td>
            </tr>
        }
    </table>
    <br/>
}